echo "*.log" > .gitignore
echo ".Rhistory" >> .gitignore
echo ".RData" >> .gitignore
echo ".Rproj.user/" >> .gitignore
echo "*.parquet" >> .gitignore
echo "*.feather" >> .gitignore
echo "*.xlsx" >> .gitignore